<% provide(:title, 'Home') %>
<div class="center">
  <h1>Welcome Visitor!</h1>
  
  <h2> Feeling Administrative? </h2>
  <h2>
    Join our team of active users! Please, modify our user database today!
  </h2>

  <%= link_to "Sign up now!", '/create', class: "btn btn-large btn-primary" %>

</div>

  <h3> Powered by Awesome-sauce! </h3>