<% provide(:title, 'Manifest') %>
<div class="center">
  <h1>The User Manifest</h1>
  <h2>Click on a field to edit</h2>

  <div ="table">
    <table id="users" cellspacing="0">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody id="nousersfound">
        <tr>
          <td colspan="4">(no users found)</td></tr>
      </tbody><tbody id="userlist" filter_nomatch="nousersfound">
        
        <tr>
          <td> John </td>
          <td> Que </td>
          <td> moop@bar.com </td>
          <td><a href="#edituser/?uid=0">[edit]</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>