<% provide(:title, 'Portal') %>
<div class="center">
  <h1> Why Hello, Administrative User! </h1> 
  <h2> Chose from one of the buttons below to continue: </h2>

  <%= link_to "Create", '/create', class: "btn btn-large" %>
  <%= link_to "Modify", '/modify', class: "btn btn-large" %>
  <%= link_to "Destroy", '/destroy', class: "btn btn-large" %>

</div>