<% provide(:title, 'Create') %>
<div class="center">
  <h1> Let's create a new user </h1>
  <h2> Please fill in all the fields below to continue</h2>

  <p>First Name:  #fillin_form_here </p>
  <p>Last Name:   #fillin_form_here </p>
  <p>Email Address: #fillin_form_here </p>

 

  <%= link_to "Create!", '/portal', class: "btn btn-large btn-primary" %>
</div>
