@import "bootstrap";



/* universal stuff */

body { padding-top: 50px;}

section {overflow: auto;}

textarea {resize: vertical;}

html {overflow-y: scroll;}

.center {text-align: center;}

.center h1 {margin-bottom: 15px;}



/* type */


h1 {letter-spacing: -2px; text-align: center }
h2 {font-size: 1.3em; margin-bottom: 10px; font-weight: normal;
  color: grey;}

p {font-size: 1.1em; line-height: 1.7em;}

h3 {font-weight: normal; text-align:center; margin-top: 30px; font-style: italic;
   letter-spacing: -1px;}


/* header */

#logo { float: left; margin-right: 10px; color: white; font-weight: bold;
    line-height: 1; padding-top: 10px; font-size:1.5em; text-transform: uppercase;}



/* forms */

#error_explanation {color: red;}

.field_with_errors {@extend .control-group; @extend .error}

/* user table */

.user_table th { background-color: #d3d2cf;

}

.user_table td { padding: 15px; background-color: #e0dfdb;

}

.user_table { text-align: center; font-size: 1.3em; width: 80%; height: 50%;
              margin-left: 19%;
}

.user_table .outlie { background-color: white}

#new_button { padding-top: 20px;}

.bopper {display: block; margin:auto;}